In [2]:
import pandas as pd
import env
import numpy as np

In [3]:
#4 
url = env.get_db_url("employees")


from sqlalchemy import text, create_engine

engine = create_engine(url)

query = text('select * from employees limit 10')

emp_df = pd.read_sql(query, engine.connect())

In [4]:
emp_df

   emp_no  birth_date first_name  last_name gender   hire_date
0   10001  1953-09-02     Georgi    Facello      M  1986-06-26
1   10002  1964-06-02    Bezalel     Simmel      F  1985-11-21
2   10003  1959-12-03      Parto    Bamford      M  1986-08-28
3   10004  1954-05-01  Chirstian    Koblick      M  1986-12-01
4   10005  1955-01-21    Kyoichi   Maliniak      M  1989-09-12
5   10006  1953-04-20     Anneke    Preusig      F  1989-06-02
6   10007  1957-05-23    Tzvetan  Zielinski      F  1989-02-10
7   10008  1958-02-19     Saniya   Kalloufi      M  1994-09-15
8   10009  1952-04-19     Sumant       Peac      F  1985-02-18
9   10010  1963-06-01  Duangkaew   Piveteau      F  1989-08-24

In [13]:
#5
url = env.get_db_url("employees")


from sqlalchemy import text, create_engine

engine = create_engine(url)

query = text('select * from employes limit 10')

emp_df = pd.read_sql(query, engine.connect())

ProgrammingError: (pymysql.err.ProgrammingError) (1146, "Table 'employees.employes' doesn't exist")
[SQL: select * from employes limit 10]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [ ]:
#6

In [15]:
url = env.get_db_url("employes")


from sqlalchemy import text, create_engine

engine = create_engine(url)

query = text('select * from employees limit 10')

emp_df = pd.read_sql(query, engine.connect())

OperationalError: (pymysql.err.OperationalError) (1044, "Access denied for user 'tobias_2288'@'%%' to database 'employes'")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [5]:
#6
url = env.get_db_url("employees")


from sqlalchemy import text, create_engine

engine = create_engine(url)

query = text('select * from employees')

emp_df = pd.read_sql(query, engine.connect())
emp_df

        emp_no  birth_date first_name last_name gender   hire_date
0        10001  1953-09-02     Georgi   Facello      M  1986-06-26
1        10002  1964-06-02    Bezalel    Simmel      F  1985-11-21
2        10003  1959-12-03      Parto   Bamford      M  1986-08-28
3        10004  1954-05-01  Chirstian   Koblick      M  1986-12-01
4        10005  1955-01-21    Kyoichi  Maliniak      M  1989-09-12
...        ...         ...        ...       ...    ...         ...
300019  499995  1958-09-24     Dekang  Lichtner      F  1993-01-12
300020  499996  1953-03-07       Zito      Baaz      M  1990-09-27
300021  499997  1961-08-03    Berhard    Lenart      M  1986-04-21
300022  499998  1956-09-05   Patricia   Breugel      M  1993-10-13
300023  499999  1958-05-01     Sachin   Tsukuda      M  1997-11-30

[300024 rows x 6 columns]

In [25]:
url = env.get_db_url("employees")


from sqlalchemy import text, create_engine

engine = create_engine(url)

query = text('select * from titles')

titles_df = pd.read_sql(query, engine.connect())
titles_df

        emp_no            title   from_date     to_date
0        10001  Senior Engineer  1986-06-26  9999-01-01
1        10002            Staff  1996-08-03  9999-01-01
2        10003  Senior Engineer  1995-12-03  9999-01-01
3        10004         Engineer  1986-12-01  1995-12-01
4        10004  Senior Engineer  1995-12-01  9999-01-01
...        ...              ...         ...         ...
443303  499997         Engineer  1987-08-30  1992-08-29
443304  499997  Senior Engineer  1992-08-29  9999-01-01
443305  499998     Senior Staff  1998-12-27  9999-01-01
443306  499998            Staff  1993-12-27  1998-12-27
443307  499999         Engineer  1997-11-30  9999-01-01

[443308 rows x 4 columns]

In [ ]:
#7
titles_df.shape

In [ ]:
emp_df.shape

In [17]:
#8
emp_df.describe()

              emp_no
count  300024.000000
mean   253321.763392
std    161828.235540
min     10001.000000
25%     85006.750000
50%    249987.500000
75%    424993.250000
max    499999.000000

In [ ]:
titles_df.describe()

In [9]:
#9
len(titles_df['title'].unique())

7

In [30]:
titles_df.title.nunique()

7

In [21]:
#10
titles_df['to_date'].sort_values().head(1)

16064    1985-03-01
Name: to_date, dtype: object

In [22]:
#11
titles_df['to_date'].sort_values().tail()

191714    9999-01-01
191712    9999-01-01
191707    9999-01-01
191723    9999-01-01
443307    9999-01-01
Name: to_date, dtype: object

In [27]:
titles_df[titles_df.to_date != titles_df.to_date.max()].to_date.max()

datetime.date(2002, 8, 1)

---EXERCISES PART II---